<!DOCTYPE html>
<html>
<head>
  <title>Travelap</title>
  <link rel="stylesheet" href="https//fonts.googleapis.com/css?family=Indie+Flower">
  <link rel="stylesheet" href="/styles/buttons.css">
  <link rel="stylesheet" href="/styles/tables.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/navigation.css">
</head>

<body>
  
  <%= yield %>

</body>
</html>
