<!DOCTYPE html>
<html>
<head>
  <title>Travelap</title>
  <link rel="stylesheet" href="https//fonts.googleapis.com/css?family=Indie+Flower">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/city'>City</a></li>
    <li class="menu-item"><a href='/city/new'>add city</a></li>
    <li class="menu-item"><a href='/country'>Countries</a></li>
  </nav>
  <h1 id="logo">Travelap - Travel Bucket list</h1>
  <%= yield %>

</body>
</html>
