<!DOCTYPE html>
<html>
<head>
  <title>Travelap</title>
  <link rel="stylesheet" href="https//fonts.googleapis.com/css?family=Indie+Flower">
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <nav id="menu">

  </nav>
  <h1 id="logo">Travelap - Travel Bucket list</h1>
  <%= yield %>

</body>
</html>
