
<nav class="navbar">
<h2 class = "logo">Travelap <em> - Where are you going to go?</em></h2>

<ul class="nav-links">
<li class="nav-item"><a href='/'>Home </a></li>
<li class="nav-item"><a href='/countries/visited'>Countries I have Visited </a></li>
<li class="nav-item"><a href='/countries/not_visited'>Countries I have not Visited</a></li>
<li class="nav-item"><a href='/countries/new_country'>Add new Country</a></li>
</ul>
</nav>

<h1 class="logo">City has been deleted</h1>
