<nav class="navbar">
<h2 class = "logo">Travelap <em> - Where are you going to go?</em></h2>

<ul class="nav-links">
<li class="nav-item"><a href='/'>Home </a></li>
<li class="nav-item"><a href='/countries/not_visited'>Countries I have not Visited</a></li>
<li class="nav-item"><a href='/countries/new_country'>Add new Country</a></li>
</ul>
</nav>

<h1>Tourist Sites in <%= @city.name.capitalize %></h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>visited</th>
  </tr>
  <%site_list = @city.sites  %>
<% site_list.each do |site| %>
<tr>
  <td><%= site.name.capitalize %></td>
  <td>|</td>
  <td><% if (site.visited) == "t" %>
          <p>Yes</p>
          <%end%>
          <% if (site.visited) == "f"%>
          <p>Not yet</p>
          <%end%>
    </td>
  </tr>
  <%end%>
</table>

<li class="menu-item">
  <a href='/sites/new_notvisited_site/<%= @city.id %>'>Add new Tourist Site</a></li>
