<h1>COUNTRY LIST</h1>

<p>
  <a href=""></a>


</p>

<li class="menu-item"><a href='/'>Home </a></li>

<ul>
  <%@countries.each do |country| %>
  <li><a href="/countries/<%= country.id  %>"> <%= country.name %></a></li>
  <% end %>
</ul>
