<nav class="navbar">
<h2 class = "logo">Travelap <em> - Where are you going to go?</em></h2>

<ul class="nav-links">
<li class="nav-item"><a href='/'>Home </a></li>
<li class="nav-item"><a href='/countries/visited'>Countries I have Visited </a></li>
<li class="nav-item"><a href='/countries/not_visited'>Countries I have not Visited</a></li>
</ul>
</nav>


<% if @found == nil%>
<h1 class="heading"> Country is already in list</h1>
<% else %>

<%= @country.save %>
<h1 class="heading">
<a <% if @country.visited == 'false' %>
  href='/cities/new_notvisited_city/<%= @country.id  %>'
  <% else  %>
  href='/cities/new_city/<%= @country.id  %>'
  <% end %>>
  <%=@country.name.capitalize%> has been added</h1>

<%end %>
