<h1>NEW COUNTRY </h1>


<li class="menu-item"><a href='/'>Home </a></li>


<form method="POST" action="/countries">
  <div class="form-wrap">

    <div>
      <label for="name">Country Name:</label>
      <input required type="text" name="name" minlength="2" id="country_name"/>
    </div>

    <div>
      <label for="visited">Visited:</label>
      <select required type="boolean" name="visited" id="visited">
        <option value=<%= true %>>visited</option>
        <option value=<%= false %>>Not visited</option>
      </select>
    </div>

    <div >
      <input type="submit" value="Add new country"/>
    </div>
    </div>
</form>
