a {
  text-decoration: none;
}

a:visited{
color: blue;
}

a:hover{
  color: pink;
  font-size: 120%;
}

nav {
  justify-content: center;
  background-color: #A4B0F5;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  display: flex;
 justify-content: center;
 font-size: 1.8em;
 align-items: center;
  font-family: 'Indie-Flower', cursive;
  color: #ffffff;
    text-shadow: 1px 2px #000000;
}

.nav-links {
  list-style: none;
  display:flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: #A4B0F5;
}

.navbar{
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-style: ridge;
  border-color: grey;
  border: 5px;
}

.homelogo {
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Indie-Flower', cursive;
  /* padding: 150px; */
}

path{
  fill: transparent;
}

.heading {
  display: flex;
 justify-content: center;
 font-size: 2.2em;
 align-items: center;
  font-family: 'Indie-Flower', cursive;
  color: #ffffff;
    text-shadow: 1px 2px #000000;
}
