html {
  min-height:100%;
  background-position: center;
  background-color: #A4B0F5;
  background-image: asset-url("/../public/images/meribel.JPG");
  background-image: image-url("/../public/images/meribel.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

div img{
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
  margin-left: 30%;

}
