body {
  background-image: url("../images/meribel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.menu-item {
  color: #FFFFFF;
  background-color: #A4B0F5;
}

.page {
    background-color: #3279A8;
}
